<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign In</title>
</head>
<body>
	<main>
        <form action="/login" method="POST">
			<div class="container">
                <div class="form-group">
                    <label><b>Email</b></label>
                    <input class="form-control" placeholder="Your email" name="EMAIL">
                    <label><b>Password</b></label>
                    <input class="form-control" placeholder="Your Password" name="PSW">
                </div>
                <button type="submit" class="btn btn-info">Sign In</button>
                <input type="checkbox" checked="checked"> Remember me
                <div class="container" style="background-color:#f1f1f1">

			   <span class="psw"><a href="#">Forgot password?</a></span>
			  </div>
 			</div>
		</form>
        {% if msg %}
      <h1>{{ msg }}!</h1>
        {% endif %}
	</main>
</body>
<script>
	

</script>
</html>